<main class="container">
  <%= link_to sanitize("&larr; Back to dream"), dream_path(@dream) %>

  <div class="header">
    <h1>Edit dream</h1>
  </div>

  <%= turbo_frame_tag @dream do %>
    <%= render "form", dream: @dream %>
  <% end %>
</main>