<div class="container">
  <div class="header">
    <h1>Dreams</h1>
    <%= link_to "New dream",
                new_dream_path,
                class: "btn btn--primary",
                data: { turbo_frame: dom_id(Dream.new) } %>
  </div>

  <%= turbo_frame_tag Dream.new %>

  <%= turbo_frame_tag "dreams" do %>
    <%= render @dreams %>
  <% end %>
</div>
